DEBUG=1
SECRET_KEY=dev-secret-key-change-me
DJANGO_SETTINGS_MODULE=core.settings

POSTGRES_DB=destination_search
POSTGRES_USER=destsearch
POSTGRES_PASSWORD=destsearch
POSTGRES_PORT=5432

REDIS_PORT=6379

ES_PORT=9200

WEB_PORT=8000