DEBUG=1
SECRET_KEY=dev-secret-key-change-me
DJANGO_SETTINGS_MODULE=core.settings

POSTGRES_DB=destination_search
POSTGRES_USER=destsearch
POSTGRES_PASSWORD=destsearch
POSTGRES_PORT=5432

ES_PORT=9200

WEB_PORT=8000

SEARCH_DEFAULT_SIZE=24
NEARBY_DEFAULT_SIZE=48
BOUNDS_DEFAULT_SIZE=48
AUTOCOMPLETE_DEFAULT_SIZE=5
